<h2>Welcome To My GitLab Site!</h2>
<p>&nbsp;</p>
<p style="font-size: 1.5em;">Fun Facts about Nicole Ann Hargrove:</p>
<ul style="list-style-type: disc;">
<li style="font-size: 1.5em;">20_yrs in IT Industry at&nbsp;IBM&nbsp;</li>
<li style="font-size: 1.5em;"><strong>Industry Knowledge:</strong>&nbsp; Federal, State and Local gov and Health Care Life Sciences</li>
<li style="font-size: 1.5em;"><strong>Teaching various technologies:</strong>&nbsp; Cloud, Integration and Digital Experience</li>
<li style="font-size: 1.5em;"><strong>Education:</strong>&nbsp;
<ul style="list-style-type: disc;">
<li style="font-size: 1em;">Old Dominon University BS Accounting/Information Systems</li>
<li style="font-size: 1em;">Johns Hopkins University MS Information and Telecommunication Systems</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<p style="font-size: 1.5em;">Connect with Cole:</p>
<table style="height: 189px; width: 523px; background-color: #ead9c3; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td style="width: 138.484px;">&nbsp;</td>
<td style="width: 368.516px;"><a title="LinkedIn" href="https://www.linkedin.com/in/nicoleannhargrove" target="_blank" rel="noopener">https://www.linkedin.com/in/nicoleannhargrove</a></td>
</tr>
<tr>
<td style="width: 138.484px;">&nbsp;</td>
<td style="width: 368.516px;">
<p><a title="Medium" href="https://nicoleannhargrove.medium.com" target="_blank" rel="noopener">https://nicoleannhargrove.medium.com</a></p>
</td>
</tr>
<tr>
<td style="width: 138.484px;">&nbsp;</td>
<td style="width: 368.516px;"><a title="GitHub" href="https://github.com/nicoleannhargrove" target="_blank" rel="noopener">https://github.com/nicoleannhargrove</a></td>
</tr>
<tr>
<td style="width: 138.484px;">&nbsp;</td>
<td style="width: 368.516px;"><a title="Credly" href="https://www.credly.com/users/nicole-hargrove" target="_blank" rel="noopener">https://www.credly.com/users/nicole-hargrove</a></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
